<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="fa fa-home"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="translator">
      <i class="fa fa-microphone"></i>
      <ion-label>Translator</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="saved">
      <i class="fa fa-floppy-disk"></i>
      <i class="fa fa-star"></i>
      <ion-label>Saved</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <i class="fa fa-user"></i>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>