<ion-app>
   <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <i class="fa fa-bars"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Lingo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spoken-text" style="text-align: center; margin-bottom: 20px; font-size: 30px">
    <p>Listening...</p>
  </div>

  <div class="circle-button" style="margin-top: 80px;">
    <ion-button fill="solid" shape="round" (click)="onMicButtonClick()">
      <i class="fa fa-microphone" id="micIcon" style="color: white;"></i>
    </ion-button>
  </div>

  <div class="bottom-buttons">
    <ion-button fill="solid">
      English
    </ion-button>
    <i class="fa fa-arrow-right" style="margin-top: 12px; margin-right: 20px; margin-left: 20px;"></i>
    <ion-button fill="solid">
      Spanish
    </ion-button>
  </div>
</ion-content>
</ion-app>
