<ion-app>
  <ion-grid class="m-2">
    <ion-row class="m-1">
      <ion-col size="2" class="d-flex justify-content-center align-items-center">
        <a href="/home" class="fs-3">
          <i class="fa fa-arrow-left"></i>
        </a>
      </ion-col>
      <ion-col size="8" class="d-flex justify-content-center align-items-center">
        <ion-item class="rounded">
          <ion-select aria-label="Word group" placeholder="Select Word Group">
            <ion-select-option value="apple">English</ion-select-option>
            <ion-select-option value="banana">Spanish</ion-select-option>
            <ion-select-option value="orange">Italian</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="d-flex justify-content-center align-items-center">
        <ion-button shape="round">
          <i class="fa fa-plus"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="d-flex justify-content-center align-items-end">
    <ion-button fill="solid" shape="round" (click)="onMicButtonClick()">
      <i class="fa fa-microphone" id="micIcon"></i>
    </ion-button>
  </div>

  <div class="bottom-buttons d-flex align-items-end">
    <ion-grid>
      <ion-row>
        <ion-col size="5" class="d-flex justify-content-end">
          <ion-button fill="solid">
            English
          </ion-button>
        </ion-col>
        <ion-col size="2" class="d-flex justify-content-center mt-2">
          <i class="fa fa-arrow-right"></i>
        </ion-col>
        <ion-col size="5" class="d-flex justify-content-start">
          <ion-button fill="solid">
            Spanish
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-app>