<ion-app>
  <ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="1" class="d-flex justify-content-center align-items-center">
        <a href="/home" class="text-white">
          <i class="fa fa-arrow-left"></i>
        </a>
      </ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label>Word group</ion-label>
          <ion-select>
            <ion-select-option value="apple">Book 1</ion-select-option>
            <ion-select-option value="banana">Book 2</ion-select-option>
            <ion-select-option value="orange">Book 3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="1" class="d-flex justify-content-center align-items-center">
        <ion-button fill="solid" class="custom-button">
          <i class="fa fa-plus"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="circle-button d-flex justify-content-center align-items-end">
    <ion-button fill="solid" shape="round" (click)="onMicButtonClick()">
      <i class="fa fa-microphone" id="micIcon"></i>
    </ion-button>
  </div>

  <div class="bottom-buttons d-flex align-items-end">
    <ion-grid>
      <ion-row>
        <ion-col size="5" class="d-flex justify-content-end">
          <ion-button fill="solid">
            English
          </ion-button>
        </ion-col>
        <ion-col size="2" class="d-flex justify-content-center mt-2">
          <i class="fa fa-arrow-right"></i>
        </ion-col>
        <ion-col size="5" class="d-flex justify-content-start">
          <ion-button fill="solid">
            Spanish
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>
</ion-app>