/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

*{
  font-family: monospace;
  font-weight: 100;
}
ion-modal#word-group-modal, ion-modal#change-language-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; /* Adds some padding */
}

.content {
  padding: 20px 20px 15px 20px;
  border-radius: 10px; /* Rounded corners */
  width: 100%;
  max-width: 400px; /* Max width for smaller screens */
  //text-align: center;
}

.input-full-width {
  width: 100%; /* Input takes up full width */
  margin: 20px 0; /* Margin for spacing */
}

.button-group {
  display: flex;
  justify-content: space-between; /* Spacing between buttons */
}

.half-button {
  width: 48%; /* Each button takes 50% minus a little space between them */
  margin: 10px 0; /* Optional margin between rows */
}

.groupListItem{
  font-size: 100%;
}
.row{
  height: 30vh;
}
.micButton{
  width: 12vh;
  height: 12vh;
}

.plusButton{
  width: 5vh;
  height: 5vh;
}
.clickable-card {
  cursor: pointer; /* Change cursor to pointer on hover */
  background-attachment: fixed;
  background-size: 100% 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */

  &:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow to give a lift effect */
  }

  &:active {
    transform: scale(0.98); /* Slightly shrink the card on click for a press effect */
  }
}

.circle-button {
  --background: #17965f;
  height: 40vh; /* Adjust height as needed */
}

.circle-button ion-button {
  width: 80px;
  height: 80px;
  --border-radius: 50%;
  font-size: 2rem;
  --background: #17965f;
}

.bottom-buttons {
  padding: 0 20px;
  --background: #17965f;
  height: 40vh;
}

.bottom-buttons ion-button {
  width: 48%;
  --background: #17965f;
  --color: white;
}
// .custom-button{
//   --background: #17965f;
//   --color: white;
// }
.clickable-icon {
  font-size: 24px; /* Size of the icon */
  transition: transform 0.2s ease; /* Smooth transition for the icon scaling */
  display: inline-block;

  &:hover {
    transform: scale(1.2); /* Enlarge the icon on hover */
  }

  &:active {
    transform: scale(0.9); /* Shrink the icon on click */
  }
}

.clickable-button {
  transition: transform 0.1s ease; /* Smooth transition for the icon scaling */


  &:active {
    transform: scale(0.9); /* Shrink the icon on click */
  }
}