<ion-app>
  <ion-content>
  <div>
    <ion-grid>
      <ion-row class="mt-4 d-flex align-items-center">
        <ion-col size="1" class="d-flex ps-4">
          <h2 (click)="onCardClick('/home')">
            <i class="fa fa-arrow-left clickable-icon"></i>
          </h2>
          <h2 class="ms-4">Account</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <h2><i class="fa fa-user px-2"></i>Marek Balaz<span class="badge bg-warning ms-3 rounded-pill fs-6">Free</span></h2>
              </ion-card-title>
              <ion-card-subtitle>
                marekgamingacc&#64;gmail.com
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-list class="m-3 rounded">
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="fs-5 d-flex justify-content-start align-items-center">
                    <i class="fa fa-money me-2 fs-4"></i>
                    <ion-label class="flex-grow-1">Subscription</ion-label>
                  </ion-col>
                  <ion-col size="8" class="fs-5 d-flex justify-content-end align-items-center">
                    <i class="fa fa-chevron-right"></i>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="fs-5 d-flex justify-content-start align-items-center">
                    <i class="fa fa-lock me-2"></i>
                    <ion-label class="flex-grow-1">Privacy</ion-label>
                  </ion-col>
                  <ion-col size="8" class="fs-5 d-flex justify-content-end align-items-center">
                    <i class="fa fa-chevron-right"></i>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="fs-5 d-flex justify-content-start align-items-center">
                    <i class="fa fa-info me-2"></i>
                    <ion-label class="flex-grow-1">Help</ion-label>
                  </ion-col>
                  <ion-col size="8" class="fs-5 d-flex justify-content-end align-items-center">
                    <i class="fa fa-chevron-right"></i>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>
</ion-app>


