<!--<div>-->
<!--  <ion-grid>-->
<!--    <ion-row class="bg-primary">-->
<!--&lt;!&ndash;      <ion-col size="4">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fa fa-person"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-col>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-col size="8">&ndash;&gt;-->
<!--&lt;!&ndash;        <h2>Marek</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-col>&ndash;&gt;-->
<!--      -->
<!--    </ion-row>-->
<!--    <ion-row></ion-row>-->
<!--    <ion-row></ion-row>-->
<!--  </ion-grid>-->
<!--</div>-->
<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h2><i class="fa fa-microphone px-2"></i>Card Title</h2>
    </ion-card-title>
  </ion-card-header>
</ion-card>

<ion-content>
  <ion-list class="bg-secondary m-3 rounded">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="fs-3 d-flex justify-content-start align-items-center">
            <i class="fa fa-microphone me-2"></i>
            <ion-label class="flex-grow-1">Home</ion-label>
          </ion-col>
          <ion-col size="8" class="d-flex justify-content-end align-items-center">
            <i class="fa fa-arrow-right"></i>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="fs-3 d-flex justify-content-start align-items-center">
            <i class="fa fa-microphone me-2"></i>
            <ion-label class="flex-grow-1">Home</ion-label>
          </ion-col>
          <ion-col size="8" class="d-flex justify-content-end align-items-center">
            <i class="fa fa-arrow-right"></i>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>


